extends layout

block content
    if code == "00"
        p(style="text-align: center; color: green")  Giao dịch thành công
    else
        p(style="text-align: center; color: red") Giao dịch thất bại